{{ define "main" }}
  <h1>{{ .Title }}</h1>
   
  {{ range .Pages }}
    <div class="portfolio-item">
      <a href="{{ .RelPermalink }}" class="portfolio-link">
        {{ if .Params.img }}
        <div class="portfolio-image">
          <img src="{{ .Params.img }}" alt="{{ .Title }}">
        </div>
        {{ end }}
        <div class="portfolio-content">
          <h2 class="portfolio-title">{{ .Title }}</h2>
          <div class="portfolio-summary">
            {{ .Summary }}
          </div>
        </div>
      </a>
    </div>
  {{ end }}
{{ end }}

